root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.kt]
indent_size = tab
indent_style = space
tab_width = 4

[*.{yml,yaml}]
indent_style = space
tab_width = 2
indent_size = 2
